@model AdvertisementListModel
@{
    ViewData["Title"] = "Index";
}
<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>

    </div> <!-- .site-mobile-menu -->
    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
        <div class="container-fluid">

        </div>
    </header>
    <!-- HOME -->
    <div class="site-wrap">
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
    </div> <!-- .site-mobile-menu -->
    <!-- NAVBAR -->
    <!-- HOME -->
    <section class="home-section section-hero inner-page overlay bg-image" style="background-image: url('/images/hero_11.jpg');"
             id="home-section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                    <div class="mb-5 text-center">
                        <h1 class="text-white font-weight-bold"></h1>
                        <p>
                            Senin için burada @Model.PagingInfo.TotalItems ilan var!
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="site-section">
        <div class="container">

            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h1 class="section-title mb-2">@Model.PagingInfo.CurrentPage. İlan Sayfasındasın.</h1>
                </div>
            </div>

            <div class="mb-5">
                @foreach (var advertisement in Model.Advertisements)
                {
                    @Html.Partial("_AdvertisementItem", advertisement)
                }          
            </div>
            

        </div>
    </section>
</div>